<!DOCTYPE HTML>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app.css') }}">
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.dev.js"></script> -->
</body>
