{% extends "base.html" %}

{% block title %}
User Page
{% endblock %}

{% block body %}
<div id="container"></div>
<script defer="defer">
 var stage = new Kinetic.Stage({ container: "container", width: screen.width,
                                 height: screen.height });
 var layer = new Kinetic.Layer();

 function stayOnCanvas(pos) {
   var width = this.width() || 0;
   var height = this.height() || 0;
   var x = Math.max(0, Math.min(screen.width - width, pos.x));
   var y = Math.max(0, Math.min(screen.height - height, pos.y));
   return { x: x, y: y }
 }

 function drawImage(imageObj, id, x, y, width, height) {
   var newImg = new Kinetic.Image(
     {image: imageObj, x: x, y: y, width: width, height: height,
      id: id, draggable: true, dragBoundFunc: stayOnCanvas}
   );

   // cursor styling
   newImg.on('mouseover', function() {
     document.body.style.cursor = 'pointer';});
   newImg.on('mouseout', function() {
     document.body.style.cursor = 'default';});
   layer.add(newImg);
   stage.add(layer);
 }

 function drawText(text, id, x, y, pt) {
   var newText = new Kinetic.Text(
     {text: text, x: x, y: y,
      fill: 'black', fontSize: pt, fontFamily: 'Calibri',
      id: id, draggable: true, dragBoundFunc: stayOnCanvas}
   );

   // cursor styling
   newText.on('mouseover', function() {
     document.body.style.cursor = 'pointer';});
   newText.on('mouseout', function() {
     document.body.style.cursor = 'default';})
   layer.add(newText);
   stage.add(layer);
 }

 {% for i in range(content.num_images) %}
 {% set key = 'i' + i|string() %}
 {% set curr = content.images[key] %}
 var imageObj = new Image();
 imageObj.onload = function() {
   var top = {{ curr.top }} * screen.height;
   var left = {{ curr.left }} * screen.width;
   var width = {{ curr.width }} * screen.width;
   var height = {{ curr.height }} * screen.height;
   drawImage(this, '{{key}}', left, top, width, height);
 };
 imageObj.src = '{{ curr.path }}';
 {% endfor %}

 {% for j in range(content.num_texts) %}
 {% set key = 't' + j|string() %}
 {% set curr = content.texts[key] %}
 drawText('{{curr.string}}', '{{key}}',
          {{curr.left}} * screen.width, {{curr.top}} * screen.height,
          {{curr.height}} * screen.height);
 {% endfor %}
</script>
<script src={{url_for('static', filename='io.js')}}></script>
<script src={{url_for('static', filename='gesture.js')}}></script>
{% endblock %}
